@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .btn-back {
    @apply bg-blue text-white-200 font-inter text-sm w-20 h-8 flex justify-center items-center hover:brightness-90;
  }

  .btn-primary-blue {
    @apply bg-blue text-white-200 font-inter text-sm w-full h-9 rounded flex justify-center items-center hover:brightness-90;
  }

  .btn-register {
    @apply bg-gray-400 text-white-200 font-inter text-sm w-full h-9 rounded flex justify-center items-center hover:brightness-90;
  }
}
